<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="/styles/main.css" />
    <title>BookWorm</title>
  </head>
  <body>
    <!-- Header Section -->
    <section id="header-section">
      <div class="header-content">
        <h1 class="main-header"><a href="/books">Emmanuel Weyinmi</a></h1>
        <h2 class="sub-heading">Books I've Read</h2>
      </div>
      <div class="sub-header-content">
        <p class="intro-paragraph">
          Tiny summary but
          <strong>detailed notes for each.</strong> Use the ISBN number to find
          it from your local library or anywhere else.<strong>
            This page will constantly update as I read more </strong
          >, so bookmark it if you want to check back in a few months.
        </p>
        <p class="sorting-paragraph">
          Sorted with <strong>my top recommendations up top</strong>. Sort by
         <a href="/?sort=title">title</a>, <a href="/?sort=newest">newest</a>, or <a href="/?sort=best">best</a>.
        </p>

        
        <a href="/books/new" class="new-book-button">Add New Book</a>
      </div>
    </section>
    <hr />

    <section id="main-section" class="main-section">
     <% if (locals.books) { %>
      <% locals.books.forEach((book) => {%>
      <div class="main-content">
        
        <div class="book-info">
          <img
            src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg"
            alt=""
            class="book-image"
          />
          <div class="book-details">
            <h2>
              <a href="books/<%= book.id %>" class="book-title-link"
                ><%= book.title %> - By <%= book.author %></a
              >
            </h2>

            <p class="date-read">
              Date Read: <%= book.date_read %>. How Strongly I recommend It: <%= book.rating %>/10
            </p>

            <p class="book-description">
              <%= book.description %>
            </p>
          </div>
        </div>

        <p class="external-links">
          <a href="books/<%= book.id %>">Read my notes</a>, or go to the
          <a href="<%= book.amazon_link %>">Amazon page</a> for details and reviews.
          <a href="/books/edit/<%= book.id %>" class="edit-button">Edit</a>
        </p>
      </div>
      
      
      </div>
      <% })%>
      <% }%>
    </section>

    <section id="footer-section"></section>

    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
